<div class="display">
    <div id="body">
        <p>Hi,
            <br> please contact me
            <br>for any question or
            <br>freelance work!
        </p>
    </div>
    
    <div class="title">
        <label>Name:   </label>
        <input type='text' [(ngModel)] = "name" class="textname"><br>
        <label>Phone#: </label>
        <input type='text' [(ngModel)] = "phoneNumber" class="textname"><br>
        <label> Email: </label>
        <input type = "text" [(ngModel)] = "email" class="textname"><br>
        <label> Information: </label><br>
        <textarea class="information" [(ngModel)] = "information" cols="30" rows="10"></textarea> <br>
        <button (click)="storeContact()">Submit</button>  
        <button (click)="deleteContact()">Delete</button>  
    </div>
    
</div>
