@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
    font-family: "OpenSans", sans-serif;
    padding: 30px;
    display: inline-block;
    border: 0px solid black;
}

.display {
    display: flex;
    justify-content: center;
}

#body {
    font-size: 4vw;
    font-weight: 1000;
    text-transform: uppercase;
    position: relative;
    letter-spacing: .2vw;
    line-height: 6vw;
    font-style: italic;
    margin-right: 100px;
}


.textname {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    padding: 0px 0px;
    font-size: .9vw;
}


.title {
    margin-left: 30px;
    font-size: 2vw;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: .05vw;
    border: 2px solid black;
}

button {
    color: white;
    padding: 9px 25px;
    background-color: rgb(54, 51, 220);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 20px;
    text-transform: uppercase;
    font-size: .7vw;
}

button:hover {
    background-color: rgb(236, 214, 11);
}

.information {
    border: 1px solid black;
    margin-left: 30px;
    font-size: 30px;
    margin-right: 30px;
    height: 200px;
    width: 400px;
    padding-left:0;
    padding-top:0;
    padding-bottom:0.4em;
    padding-right: 0.4em;
}