<!-- <div class="text">
    <div class="name">
        <label>Name:</label>
        <input type="text" class="underline">
    </div>
    
    <div class="phone">
        <label>Phone #:</label>
        <input type="text" class="underline">
    </div>
    
    <div class="address">
        <label>Email:</label>
        <input type="text" class="underline">
    </div>
    
    <div class="information">
        <label>Reason for Contact:</label> <br>
        <input type="text" class="infobox">
    </div>
</div>
<button>submit</button> -->

<div class="title">
    <h1 class="header">chat-app</h1>
    <label>Name: </label>
    <input type='text' [(ngModel)] = "name">
    <label> Email: </label>
    <input type = "text" [(ngModel)] = "email">
    <label> Information: </label>
    <input type = "text" [(ngModel)] = "information">
</div>
<button (click)="storeContact()">Submit</button>  
  <!-- <div class="display">
    <div class = "chat" *ngFor="let message of sortBy('timestamp'); index as i">
      <span class="timestamp">
        {{message.timestamp.toDate() | date:"medium"}}: 
      </span> 
      <span class="mes" [ngStyle] = "{'color' : message.colors}">
        {{message.id}} : {{message.message}}
      </span>
    </div>
  </div>
   -->
  <!-- <div class ="bottom">
    <label>Chat message: </label>
    <input type='text' class="chatInput" [(ngModel)] = "mssage" (keyup.enter)="sendData()">
  </div> -->