

.underline {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
}

.infobox {
    width: 500px;
    height: 250px;
}

.text {
    margin-left: 50px;
}

div {
    margin-bottom: 30px;
}
button {
    color: white;
    padding: 9px 25px;
    background-color: rgb(54, 51, 220);
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 50px
}

button:hover {
    background-color: rgb(64, 99, 211);
}