.main_img {
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    max-width: 100%;
}

#title{
    text-align: center;
}

p{
    text-align: center;
    margin-left: 5vw;
    margin-right: 5vw;
}