@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

hr {
    size: 3px;
}

li , a , img{
    font-family: "OpenSans", sans-serif;
    flex-wrap: nowrap;
    font-weight: lighter;
    font-size: 1vw;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
}

.logo {
    cursor: pointer;
    object-fit: cover;
    max-width: 100%;
}

.nav_links {
    list-style-type: none;
}
.nav_links li {
    display: inline-block;
    padding: 0px 3vw;
}

.nav_links li a {
    transition: all 0.3 ease 0s;
}

.nav_links li a:hover {
    color: black;
    font-weight: 700;
}

button {
    color: white;
    padding: 9px 25px;
    background-color: rgb(54, 51, 220);
    max-width: 100%;
    border: none;
    font-size: 1vw;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgb(236, 214, 11);
}

.logoheader a:hover {
    opacity: .8;
    transition: all 0.3s ease 0s;
}
