<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<header>
  <div class="logoheader">
    <p>
      <a routerLink="/home-component">
        <img class="logo" src="../assets/images/logo.png" alt="LOGO GOES HERE" width="400" height="50">
      </a>
    </p>    
  </div>

  <nav>
    <ul class="nav_links">
      <li><a class="design" routerLink="/design-component" routerLinkActive="active">Graphic Design</a></li>
      <li><a class="computer" routerLink="/computer-component" routerLinkActive="active">Computer Science</a></li>
      <li><a class="shop" routerLink="/shop-component" routerLinkActive="active">Shop</a></li>
    </ul>
  </nav>
  <p>
    <a class="cta" routerLink="/contact-component"><button>Contact</button></a>
  </p>
</header>

<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>