<!-- app design card custom component -->
<div class="container">
    <app-design-card 
    path="../../assets/images/hacks-img.png" title ="CalvinHacks" textcolor ="Maroon" link ="/calvinhacks">
</app-design-card>
<app-design-card 
    path="../../assets/images/banner.png" title ="Mkainos" textcolor ="#000000" link ="/mkainos">
</app-design-card>
<app-design-card
    path="../../assets/images/sushi.png" title="Maki Zushi" textcolor ="#FFA500" link ="/sushi">
</app-design-card>
<app-design-card
    path="../../assets/images/card2.png" title="Card Packaging" textcolor ="olive" link ="/card">
</app-design-card>
<app-design-card
    path="../../assets/images/Deutschland.jpg" title="Travel Poster" textcolor ="black" link ="/travel">
</app-design-card>
<app-design-card
    path="../../assets/images/link_logo.png" title="LINK" textcolor ="Red" link="/link">
</app-design-card>
</div>
