* {
    border: 0px black solid;
}

.shop-item {
    display: inline-block;
    margin-left: 3vw;
}

.circle {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 100px;
    width: 100px;
    background-color: rgb(54, 51, 220);
    border: none;
    color: white;
    border-radius: 50%;
    margin-right: 50px;
    margin-bottom: 50px;
    transition: all 0.3s ease 0s;
}

.circle:hover {
    background-color: rgb(236, 214, 11);
}

#title {
    text-transform: uppercase;
}