<!-- goods layout -->
<div *ngFor="let goods of goodsList; index as i" class="shop-item">
    <p id="title">{{goods.goods_name}} : ${{goods.price}}</p>
    <img src={{goods.img_src}} width="400" height="550" class="image"> <br>
    <div class="quantity">
        <p id="size">{{goods.quant}}</p>
        <button class="plus" (click)="plusone(i)">
            <img src="../assets/images/plus.png" width="" height="35">
        </button>
        <button class="minus" (click)="minusone(i)">
            <img src="../assets/images/minus.png" width="35" height="35"> 
        </button>    
    </div>
    <br> 
</div>
<br>

<!-- buttons on the bottoms for checkout and put into cart -->
<a class="checkout">
    <button class="circle" (click) = serviceTest() routerLink="/detail-component">
        CHECK OUT
    </button>
    <button (click) = "createPurchaseOrder()" class="cart">
        <img src="../assets/images/cart.jpg" width="35" height="35"> 
    </button> 
</a>