

<div *ngFor="let order of purchaseOrder; index as i" class="quantity">
    <p id="price">Total Price: {{order.total_price}}</p>
    <div *ngFor="let goods of order.item_list" class="header">
        <div class="header">
            <img src={{goods.img_src}} width="300" height="450" class="image">
            <p id="name">{{goods.goods_name}} | {{goods.quant}}</p>
        </div>

    </div>
</div>


<a class="shop">
    <button class="circle" routerLink="/shop-component">
        BACK
    </button>
    <button (click)="getDetail()" class="checkout">
        CHECK OUT
    </button>
</a>