<div *ngFor="let goods of goodsList; index as i" class="shop-item">
    <p id="title">{{goods.goods_name}}</p>
    <img src={{goods.img_src}} width="300" height="400">
    <div class="quantity">
        <p>{{goods.quant}}</p>
        <button class="plus" (click)="plusone(i)">
            <img src="../assets/images/plus.jpg" width="50" height="50">
        </button>
        <button class="minus" (click)="minusone(i)">
            <img src="../assets/images/minus.jpg" width="50" height="50">
        </button>
    </div>
</div>
<button (click) = "getPurchaseOrder()">Add to cart</button>


<a class="checkout" routerLink="/detail-component">
    <button class="circle">
        CHECK OUT
    </button>
</a>