* {
    border: 0px solid black;
    font-family: 'Open Sans';
}


.container {
    position: relative;
    width: 50%;
    margin-left: 2vw;
    cursor: pointer;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease; 
    background-color: rgba(241, 241, 241, 1);
  }

  
  .text {
    color:rgb(0, 29, 61);
    letter-spacing: 5px;
    font-size: 50px;
    position: absolute;
    text-transform: uppercase;
    font-weight: 1000;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .container:hover .overlay {
    opacity: .5;
  }
