<!-- clickable image in the home page that directs to either computerscience or graphic design portfolio -->
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
<div class="twoimages">
    <div class="images_computer">
        <p>
            <a routerLink="/design-component">
                <img class ="computer" src="../assets/images/homepage-01.png" 
                width="1000" height="1000">
            </a>
        </p>    
    </div>

    <div class="images_graphic">
        <p>
            <a routerLink="/computer-component">
                <img class ="design" src="../assets/images/homepage-02.png" 
                width="1000" height="1000">
            </a>
        </p>    
    </div>
</div>